* {
    padding: 0;
    margin: 0;
}

body {
    background: #F5F5F5 url(../img/background.png);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .90em;
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: #555;
    text-decoration: none;
}

li {
    color: #036DA7;
    list-style-type: none;
    margin-bottom: 6px;
}

#wrap {
    margin: 0 auto;
    width: 950px;
    background: #fff;
}

#header {
    height: 60px;
    background: #222;
    margin: 0 0 10px 0;
}

#header a {
    color: #fff;
    text-decoration: none;
}

#header h1 {
    color: #fff;
    font-size: 2em;
    padding: 20px 0 0 20px;
    font-weight: 100;
}

#header h2 {
    color: #eee;
    font-size: 1.2em;
    padding: 0 0 0 20px;
    font-weight: 100;
}

#headerlinks {
    float: right;
    padding: 30px 20px 0 0;
}

#headerlinks a {
    color: #fff;
    padding: 0 10px;
}

#headerlinks a:hover {
    color: #fff;
}

#sidebar {
    width: 210px;
    float: right;
    background: #FFF;
    color: #666;
    margin-right: 20px;
}

#sidebar .box {
    margin-bottom: 10px;
    padding: 10px 3px;
    color: #666;
}

#sidebar h2 {
    font-size: 1.2em;
    font-weight: 100;
    padding: 3px;
}

#content {
    margin-left: 20px;
    margin-right: 250px;
    text-align: justify;
    color: #777;
}

#content h2 {
    color: #555;
    font-size: 1.4em;
    font-weight: 200;
}

#content p {
    margin: 10px 0 20px 0;
    line-height: 25px;
}

#footer {
    clear: both;
    color: #eee;
    background: #222;
    text-align: left;
    margin: 20px 0 0 0;
    padding: 25px 20px;
    font-size: .9em;
}

#footer a {
    color: #ddd;
    text-decoration: none;
}

.post-span {
    color: #ccc;
    font-size: 12px;
}

.post-img {
    margin-top: 10px;
}